# ============================
# Python
# ============================
__pycache__/
*.py[cod]
*$py.class

# ============================
# Virtual Environment
# ============================
venv/
env/
ENV/

# ============================
# Environment Variables
# ============================
.env

# ============================
# Django
# ============================
*.sqlite3
db.sqlite3
media/
staticfiles/

# ============================
# IDEs
# ============================
.vscode/
.idea/

# ============================
# OS Files
# ============================
.DS_Store
Thumbs.db

# ============================
# Logs
# ============================
*.log

# ============================
# Testing
# ============================
.pytest_cache/
.coverage
htmlcov/

# ============================
# Mypy
# ============================
.mypy_cache/

# ============================
# PyCharm
# ============================
*.iml